/* Sidebar fijo */
.sidebar {
  background-color: #343a40;
  color: #fff;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #495057;
}

/* Contenido scrollable */
.contenido {
  margin-left: 220px;
  height: 100vh;
  overflow-y: auto;
}

/* Cards */
.card {
  border-radius: 10px;
}

/* Input y select */
#tipoPlan, #mesesAgregar {
  display: block;
}
